@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root {
  background: #393939;
  font-family: 'Inter', sans-serif;
}

::-webkit-calendar-picker-indicator {
  background-color: #595959;
  border-radius: .3rem;
  cursor: pointer;
  padding: .4rem;
}

#goal-tasks-window::-webkit-scrollbar {
  display: none
}

#goal-tasks-window {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none
}

.settings-slider {
  display: flex;
  align-items: center;
  width: 50%;
  height: 2.5rem;
  margin-top: 3.5rem;
  margin-bottom: .5rem;
}

.settings-slider .track-0 {
  width: 100%;
  max-width: 100%;
  height: .1rem;
  background: #FF7373
}

.settings-slider .track-1 {
  max-width: 100%;
  height: .1rem;
  background: #FFFFFF
}

.settings-slider .thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  cursor: pointer;
  background: #FF7373
}

nav::-webkit-scrollbar {
  display: none;
}

nav {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;