@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root {
  background: #393939;
  font-family: 'Inter', sans-serif;
}

::-webkit-calendar-picker-indicator {
  background-color: #595959;
  border-radius: .3rem;
  cursor: pointer;
  padding: .4rem;
}

#goal-tasks-window {
  overflow-y: scroll;
}

#goal-tasks-window::-webkit-scrollbar {
  display: none
}

#goal-tasks-window {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@tailwind base;
@tailwind components;
@tailwind utilities;